//Action button--> What should I do??
.big-button{
    background: $purple;
    border: none;
    border-bottom: 0.6rem solid darken($color: $purple, $amount: 10%) ;
    color: white;
    font: bold;
    font-size: $large-size;
    width: 100%;
    padding: 2.4rem;
    margin-bottom: $xlarge-size;
}

.big-button:disabled{
    opacity: 0.5;
}

// Add Option button which add items to the list
.button{
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($color: $purple, $amount: 10%);
    color: white;
    font-weight: 500;
    padding: $small-Size;
}

//modifier part of BEm where we use all css of .button with slight variations mentioned below
.button--link{
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}