.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay{
    align-items: center; //vertical center
    justify-content: center; //horizontal center
    display: flex;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal{
    background: $light-blue;
    max-width: 30rem;
    color: white;
    outline: none;
    padding: $large-size;
    text-align: center;
}

.modal__title{
    margin: 0 0 $med-Size 0;
}

.modal__body{
    margin: 0 0 $med-Size 0;
    font-size: 2rem;
    font-weight: 300;
    word-break: break-all;
}