.option{
    border-bottom: 1px solid lighten($color:$light-blue, $amount: 10%);
    display: flex;
    justify-content: space-between;
    padding: $large-size $med-Size;
}

.option__text{
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    word-break: break-all; //wrapping up very long words...stops from going out of the container width
}